@tailwind base;
@tailwind components;
@tailwind utilities;

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-color: #ebeef4 !important;
    color: #000;
}
.boxmain{
    width: 100% !important;
    overflow-y: hidden;
    padding: none !important;
    overflow: hidden !important;
}

