openai==0.28.0
tiktoken==0.5.1
Flask==3.0.0
pypdf
flask_cors
python-dotenv
Werkzeug==3.0.1
langchain==0.0.338
gunicorn==21.2.0
# sentry-sdk==1.32.0
PyPDF2
google-cloud-firestore==2.13.1
pytz
stripe
svix==1.15.0